---
import Layout from "@/layouts/LayoutMateria.astro";
import TabsExamenes from "@/components/TabsExamenes.astro";
import { Card, CardContent, CardTitle } from "@/components/ui/card";
import carreras from "@/data/carreras.json";
import materias from "@/data/materias.json";
import type { Materia, MateriaSector } from "@/models/materia";
import type { Carrera } from "@/models/carrera";
import { getTabsForMateria, type TabExmenes } from "@/lib/materias";
import { SquareArrowOutUpRight } from "lucide-react";

interface paramsType {
    params: {
        carrera: string;
        materia: string;
    };
    props: {
        carrera: Carrera;
        materia: Materia;
        sectors: MateriaSector[];
    };
}

interface Props {
    carrera: Carrera;
    materia: Materia;
    sectors: MateriaSector[];
}

// Create the static paths for the materias:
export function getStaticPaths() {
    const params: paramsType[] = [];
    const carreras_data = carreras as Carrera[];
    const materias_data = materias as Materia[];

    for (let i = 0; i < carreras_data.length; i++) {
        const carrera = carreras_data[i];

        const materias_carrera = materias_data.filter((m) => m.carreras.includes(carrera.code));

        for (let j = 0; j < materias_carrera.length; j++) {
            const materia = materias_carrera[j];
            params.push({
                params: {
                    carrera: carrera.code,
                    materia: materia.code,
                },
                props: {
                    carrera: carrera,
                    materia: materia,
                    sectors: materia.sectors ? materia.sectors : [],
                },
            });
        }
    }
    return params;
}
const { carrera, materia, sectors } = Astro.props;
let tabs: TabExmenes[] = [];
const haveSectors = sectors.length > 0;
if (!haveSectors) {
    tabs = await getTabsForMateria(materia);
}
---

<Layout materia={materia} carrera={carrera}>
    {
        !haveSectors ? (
            <TabsExamenes tabs={tabs} />
        ) : (
            <div class="flex min-h-[60vh] flex-col justify-center gap-2 max-md:min-h-0">
                {sectors.map((sector) => (
                    <a href={`/${carrera.code}/${materia.code}-${sector.code}`}>
                        <Card
                            key={sector.name}
                            className=" pt-4 min-w-[450px] hover:bg-accent hover:cursor-pointer max-md:w-full max-md:min-w-0 h-[120px] flex flex-col justify-center items-center max-md:h-fit "
                        >
                            <CardTitle>
                                <p class="text-center text-xl uppercase">{sector.name}</p>
                            </CardTitle>
                            <CardContent>
                                <div class="flex items-center justify-center">
                                    <span class="underline">Ver Examenes</span>
                                    <SquareArrowOutUpRight size={14} className="ml-2" />
                                </div>
                            </CardContent>
                        </Card>{" "}
                    </a>
                ))}
            </div>
        )
    }
</Layout>
