---
import Layout from "@/layouts/Layout.astro";
import { Badge } from "@/components/ui/badge";
import { Card, CardContent, CardTitle } from "@/components/ui/card";
import TabsExamenes from "@/components/TabsExamenes.astro";
import { Icon } from "astro-icon/components";
import carreras from "@/data/carreras.json";
import materias from "@/data/materias.json";
import type { Materia, MateriaSector } from "@/models/materia";
import type { Carrera } from "@/models/carrera";
import { parse_curtimestre_number_to_text } from "@/services/examenes/materia_repository";
import { getTabsForMateria, type TabExmenes } from "@/lib/materias";
import { SquareArrowOutUpRight } from "lucide-react";

interface paramsType {
    params: {
        materia: string;
    };
    props: {
        carrera: Carrera;
        materia: Materia;
        sectors: MateriaSector[];
    };
}

interface Props {
    carrera: Carrera;
    materia: Materia;
    sectors: MateriaSector[];
}

// Create the static paths for the materias:
export function getStaticPaths() {
    const params: paramsType[] = [];
    const carreras_data = carreras as Carrera[];
    const materias_data = materias as Materia[];

    for (let i = 0; i < carreras_data.length; i++) {
        const carrera = carreras_data[i];

        const materias_carrera = materias_data.filter((m) => m.carreras.includes(carrera.code));

        for (let j = 0; j < materias_carrera.length; j++) {
            const materia = materias_carrera[j];
            params.push({
                params: {
                    materia: `${carrera.code}/${materia.code}`,
                },
                props: {
                    carrera: carrera,
                    materia: materia,
                    sectors: materia.sectors ? materia.sectors : [],
                },
            });
        }
    }
    return params;
}
const { carrera, materia, sectors } = Astro.props;
let tabs: TabExmenes[] = [];
const haveSectors = sectors.length > 0;
if (!haveSectors) {
    tabs = await getTabsForMateria(materia);
}
---

<Layout
    title={`Examenes Viejos FaMAF | ${materia.name}`}
    metaImage="https://i.ibb.co/kKv1B9z/Banner-Examenes-Viejos.png"
    metaDescription="Esta pagina es una interfaz para ver los examenes viejos del repositorio de github"
    metaKeywords="examenes, viejos, famaf, computacion"
>
    <h1 class="text-balance text-4xl">{materia.name}</h1>

    <div class="my-2 max-sm:flex max-sm:flex-col">
        <a href={materia.repo_examenes} target="_blank" rel="noopener noreferrer">
            <Badge className="my-1 max-sm:flex max-sm:w-full max-sm:justify-between">
                <p>Repositorio</p>
                <Icon name="carbon:logo-github" size={16} class="ml-2" />
            </Badge>
        </a>
        <Badge className="my-1 max-sm:w-full" variant="outline">{carrera.facultad}</Badge>
        <Badge className="my-1 max-sm:w-full" variant="outline">{carrera.name} </Badge>
        <Badge className="my-1 max-sm:w-full" variant="outline">{materia.anio}º año</Badge>
        <Badge className="my-1 max-sm:w-full" variant="outline"
            >{parse_curtimestre_number_to_text(materia.cuatrimestre)} cuatrimestre</Badge
        >
    </div>
    <br />
    {
        !haveSectors ? (
            <TabsExamenes tabs={tabs} />
        ) : (
            <div class="flex min-h-[60vh] flex-col justify-center gap-2 max-md:min-h-0">
                {sectors.map((sector) => (
                    <a href={`/${carrera.code}/${materia.code}/${sector.code}`}>
                        <Card
                            key={sector.name}
                            className=" pt-4 min-w-[450px] hover:bg-accent hover:cursor-pointer max-md:w-full max-md:min-w-0 h-[120px] flex flex-col justify-center items-center max-md:h-fit "
                        >
                            <CardTitle>
                                <p class="text-center text-xl uppercase">{sector.name}</p>
                            </CardTitle>
                            <CardContent>
                                <div class="flex items-center justify-center">
                                    <span class="underline">Ver Examenes</span>
                                    <SquareArrowOutUpRight size={14} className="ml-2" />
                                </div>
                            </CardContent>
                        </Card>{" "}
                    </a>
                ))}
            </div>
        )
    }
    <br />
</Layout>
